.cal{
    width: 70%;
    margin: auto;
    
    margin-bottom: 2rem;
    
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .cal{
        width: 80%;
       }
  }
  @media all and (min-width: 280px) and (max-width: 767px) {
   .cal{
    width: 90%;
   }
}